<div class="mt-4">
    <h3> Khóa học của tôi </h3>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col"> Tên khóa học </th>
            <th scope="col"> Description </th>
            <th scope="col"> Thời gian tạo </th>
            <th scope="col" colspan = '2'></th>
            </tr>
        </thead>

        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th> <!-- sum(index, 1)-->
                    <td> {{this.name}}</td>
                    <td> {{this.description}}</td>
                    <td> {{this.createdAt}}</td>
                    <td> 
                        <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</button>
                        <a href="button" class="btn btn-link">Xóa</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>